body {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.gauge {
    display: block;
    width: 100%;
}

.gauge_bottom_left {
    display: block;
    width: 33%;
    float: left;
}

.gauge_bottom_right {
    display: block;
    width: 33%;
    float: right;
}

.col1 {
    float: left;
    width: 20%;
    height: 100%;
}

.col2 {
    float: none;
    width: 20%;
    height: 100%;
    overflow: hidden;
    display: table-cell;
}

.col3 {
    float: right;
    width: 20%;
    height: 100%;
}

canvas {
    /*margin-top: 20px;*/
}

.line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.legend:hover {
    cursor: pointer;
}

#graph_popup {
    width: 100%;
    height: 100%;
}

#graph_controls {
    margin: 20px;
}

select {
    background: url("data:image/svg+xml;utf8,<svg width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #1ab188;
    background-repeat: no-repeat;
    background-position: right 10px top 15px;
    background-size: 16px 16px;
    color: white;
    padding: 12px;
    width: auto;
    font-family: arial, tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.graph_extra_btn {
    background-color: #FF0000;
    padding: 12px;
    width: auto;
    font-family: arial, tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: 0;
}

.graph_extra_btn:active {
    background-color: #cc0000;
}

#graph_picker {
    background-color: #1ab188;
}

#graph_picker:hover {
    background-color: #179b77;
}

select:focus,
select:active {
    border: 0;
    outline: 0;
}

.close-btn {
    margin: 10px;
    color: #777;
    font: 50px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.close-btn:after {
    content: '✖';
}