body {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .gauge {
        display: block;
        width: 100%;
    }

    .col1 {
        float: left;
        width: 20%;
        height: 100%;
    }
    .col2 {
        float: none;
        width: 60%;
        height: 100%;
        overflow: hidden;
        display: table-cell;
    }
    .col3 {
        float: right;
        width: 20%;
        height: 100%;
    }