<!DOCTYPE html>
<html>

<title>NYU Hyperloop Telemetry</title>

<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/form-style.css">

    <script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/raphael-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/justgage.js"></script>
    <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/js/topojson.v1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.popupoverlay.js"></script>

    <script type="text/javascript" src="/static/js/utilities.js"></script>



    <script type="text/javascript" charset="utf-8">
        // Our gauges
        var g1, g2, g3, g4, g5, g6, g7, g8;

        // Here we connect to the server socket
        var socket = io.connect('https://' + document.domain + ':' + location.port);

        // Event triggered once successfully connected
        socket.on('connect', function() {
            update_option_names({
                'pod_runs': [],
                'sensors': []
            });
        });

        // Event triggered once disconnected
        socket.on('disconnect', function() {});

        // Event triggered once disconnected
        socket.on('log_update', function(data) {
            update_option_names(data);
        });


        // Event triggered when sensor data is received from the server
        socket.on('sensor_data', function(data) {
            g1.refresh(data['velocity']);
            g2.refresh(data['acceleration']);
            g3.refresh(data['rpm']);
            g4.refresh(data['temperature_inside']);
            g5.refresh(data['temperature_outside']);
            g6.refresh(data['temperature_electronics']);
            g7.refresh(data['position']);
            g8.refresh(data['time_remaining']);

            rotate_sphere(data['yaw'], data['pitch'], data['roll']);
        });

        // Our brake function
        function brake(type) {
            socket.emit('arduino_command', {
                cmd: 'brake',
                type: type
            });
        }

        // Function to move pod manually
        function movePod(direction) {
            socket.emit('arduino_command', {
                cmd: 'move_pod',
                direction: direction
            });
        }

        // Function to launch pod
        function launchPod() {
            var speed = document.getElementById('speed_input').value;
            var distance = document.getElementById('distance_input').value;
            socket.emit('arduino_command', {
                cmd: 'launch_pod',
                speed: speed,
                distance: distance
            });
        }

        // Function to enable manual controls
        function manualControls(state) {
            socket.emit('arduino_command', {
                cmd: 'manual_controls',
                state: state
            });
        }

        // Function to display graph popup
        function showGraphPopup() {
            $('#graph_popup').popup('show');
        }

        // Function to display graph
        function showGraph() {
            var random_id = Math.random();
            var selector = document.getElementById('graph_picker');
            var filename = selector.options[selector.selectedIndex].value;
            var random_id = Math.random();
            update_blackbox_data("/static/logs/" + filename + ".csv?nocache=" + random_id);
        }


        // Individual Gauge configuration
        document.addEventListener("DOMContentLoaded", function(event) {

            // Configure popup for graph
            $('#graph_popup').popup({
                background: true,
                color: '#fff',
                opacity: 0.95
            });


            g1 = new JustGage({
                id: "g1",
                value: 0,
                min: 0,
                max: 150,
                title: "Velocity",
                label: "mph",
                relativeGaugeSize: true,
                donut: false
            });

            g2 = new JustGage({
                id: "g2",
                value: 0,
                min: -50,
                max: 50,
                title: "Acceleration",
                label: "ft/s2",
                relativeGaugeSize: true,
                donut: false
            });

            g3 = new JustGage({
                id: "g3",
                value: 0,
                min: 0,
                max: 5603,
                title: "Rotations",
                label: "rpm",
                relativeGaugeSize: true,
                donut: false
            });

            g4 = new JustGage({
                id: "g4",
                value: 0,
                min: 0,
                max: 150,
                title: "Inside Temperature",
                label: "°F",
                relativeGaugeSize: true,
                donut: false,
                gaugeWidthScale: 0.3
            });

            g5 = new JustGage({
                id: "g5",
                value: 0,
                min: 0,
                max: 150,
                title: "Outside Temperature",
                label: "°F",
                relativeGaugeSize: true,
                donut: false,
                gaugeWidthScale: 0.3
            });

            g6 = new JustGage({
                id: "g6",
                value: 0,
                min: 0,
                max: 150,
                title: "Electronics Temperature",
                label: "°F",
                relativeGaugeSize: true,
                donut: false,
                gaugeWidthScale: 0.3
            });

            g7 = new JustGage({
                id: "g7",
                value: 0,
                min: 0,
                max: 5500,
                title: "Position",
                label: "ft",
                relativeGaugeSize: true,
                donut: true,
                customSectors: [{
                    color: "#1ab188",
                    lo: 0,
                    hi: 5500
                }],
                gaugeWidthScale: 0.5
            });

            g8 = new JustGage({
                id: "g8",
                value: 0,
                min: 0,
                max: 65,
                title: "Time Remaining",
                label: "s",
                relativeGaugeSize: true,
                donut: true,
                customSectors: [{
                    color: "#1ab188",
                    lo: 0,
                    hi: 65
                }],
                gaugeWidthScale: 0.5
            });

        });
    </script>
</head>



<body>
    <!-- We use a three column setup, the sides are col1 and col3 and have fixed width (20%) -->

    <div class="col1">
        <div id="g1" class="gauge"></div>
        <div id="g2" class="gauge"></div>
        <div id="g3" class="gauge"></div>
    </div>

    <div class="col3">
        <div id="g4" class="gauge"></div>
        <div id="g5" class="gauge"></div>
        <div id="g6" class="gauge"></div>
    </div>

    <div class="col2">

        <div class="bottom_panel">
            <div id="g7" class="gauge_bottom_left"></div>
            <canvas width="180" height="180" id="imu_canvas"></canvas>
            <div id="g8" class="gauge_bottom_right"></div>
        </div>

        <div class="form">
            <ul class="tab-group">
                <li class="tab active"><a href="#automatic" onclick="manualControls('disable')">Automatic</a></li>
                <li class="tab"><a href="#manual" onclick="manualControls('enable')">Manual</a></li>
            </ul>

            <div class="tab-content">
                <div id="automatic">
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>Speed</label>
                            <input id="speed_input" type="number" />
                        </div>

                        <div class="field-wrap">
                            <label>Distance</label>
                            <input id="distance_input" type="number" />
                        </div>
                    </div>

                    <button class="button button-block" onclick="launchPod()">Launch Pod</button>

                    <button class="button button-block grey yellow" onclick="brake('primary')">PRIMARY SYSTEM BRAKE</button>
                    <button class="button button-block grey red" onclick="brake('aux')">AUTOMATIC AUX BRAKE</button>

                </div>

                <div id="manual">
                    <!--Placeholder to keep width constant   -->
                    <div class="top-row">
                        <div class="field-wrap empty-wrap"><input disabled class="placeholder-input" /></div>
                        <div class="field-wrap empty-wrap"><input disabled class="placeholder-input" /></div>
                    </div>
                    <!--Placeholder to keep width constant   -->



                    <div class="field-wrap">
                        <div id="arrow_up" class="arrow-up" onClick='movePod("up")'></div>
                    </div>

                    <div class="field-wrap">
                        <div id="arrow_down" class="arrow-down" onClick='movePod("down")'></div>
                    </div>

                    <button class="button button-block grey" onClick="showGraphPopup()" />Pod Black Box</button>

                </div>

            </div>

        </div>

    </div>

    <!-- Popup to display the sensor graph -->
    <div id="graph_popup">
        <div id="graph_controls">
            <select id="graph_picker" onchange="showGraph()">
                <optgroup id="graph_picker_none" label="Select a Graph"></optgroup>
                <optgroup id="graph_picker_runs" label="Runs"></optgroup>
                <optgroup id="graph_picker_sensors" label="Sensors"></optgroup>
            </select>
            <button class="graph_extra_btn" onclick="deleteGraph()">DELETE</button>
            <a class='close-btn' onclick="$('#graph_popup').popup('hide');"></a>
        </div>
        <svg id="graph"></svg>
    </div>


</body>

<!-- The central panel with buttons -->
<script type="text/javascript" src="/static/js/form.js"></script>
<!-- The "black box" type sensor graph -->
<script type="text/javascript" src="/static/js/blackbox.js"></script>
<!-- Rotating globe used to display Roll, Pitch, Yaw -->
<script type="text/javascript" src="/static/js/rotating-globe.js"></script>

</html>